.beauty-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -4-px;
}
.beauty-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
    margin-top: -100px;
}
.beauty-content p{
    width: 80%;
    font-size: 1.1rem;
    line-height: 3rem;
}
.beauty-images{
    margin-top: -190px;
}