.hero{
  background-image: url('./header-bg.svg');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.hero-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 100px;
}
.hero-wrapper h2{
  font-size: 4.5rem;
  font-weight: 600;
  color: #ffc24b;
}
.hero-wrapper img{
  margin-top: -130px;
}