/* #fbd46d och sariq rgba(251, 212, 109, 1) */
/* #0b0b0b qora rgba(11, 11, 11, 1) */
/* #ffc24b tuq sariq rgba(255, 194, 75, 1) */
/* #fff9c0 oq sifat sariq rgba(255, 249, 192, 1) */

.navbar {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Container ichida markazlash */
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Logo qismi */
.navbar-logo img {
  height: 60px;
  width: auto;
  cursor: pointer;
}

/* O'rtadagi linklar */
.navbar-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 20px 10px 20px 10px;
  border: 1px solid rgba(198, 193, 38, 0.2);
  border-radius: 8px;

}

.navbar-links li a {
  color: #ffc24b;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.navbar-links li a:hover {
  background-color: rgba(255, 249, 192, 0.1);
}

/* O'ngdagi tugmalar */
.navbar-actions {
  display: flex;
  gap: 1rem;
}


.btn-music {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s;
}


.btn-music {
  background-color: transparent;
  border: 1px solid #fbd56d61;
  color: #ffc24b;
}

.btn-music:hover {
  background-color: rgba(255, 249, 192, 0.1);
  
}

/* Responsive */
@media (max-width: 768px) {
  .navbar-links {
    display: none; /* keyin burger menu qilish mumkin */
  }

  .navbar-actions {
    gap: 0.5rem;
  }

}
